.choose {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  padding-bottom: 89px;
  background-color: #fafafa;

  h2 {
    @include heading;
    width: 100%;
    margin-bottom: 21px;

    b {
      @include heading;
      color: #6f77f1 !important;
    }
  }

  p {
    color: #828282;
    font-size: 17px;
    font-weight: 400;
    width: 910px;
    margin: auto;
    margin-bottom: 56px;
  }

  .choose-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin: auto;
    width: 1165px;

    .choose-card {
      width: 365px;
      height: 548px;
      padding: 0px 36px;
      padding-bottom: 58px;
      border: none;

      h4 {
        font-size: 20px;
        font-weight: 500;
        color: #212528;
        margin-top: 286px;
        margin-bottom: 23px
      }

      p {
        @include p;
        margin-bottom: 36px;
        width: 100%;
      }

      button {
        width: 124px;
        background-color: #fad725;
        color: #212528;
        font-size: 14px;
        font-weight: 500;
        padding: 11px 22px;
        border: none;
        margin: auto;
      }

      button:hover {
        border: 1px solid #212528;
      }
    }

    .choose-card:hover {
      box-shadow: 0px 34px 50px -17px #0216051A;
    }

    .choose-card:nth-child(1) {
      background: url(./assests/images/background/i.png) no-repeat center/cover,
        #ffffff;
    }

    .choose-card:nth-child(2) {
      background: url(./assests/images/background/ii.png) no-repeat center/cover,
        #ffffff;
    }

    .choose-card:nth-child(3) {
      background: url(./assests/images/background/iii.png) no-repeat center/cover,
        #ffffff;
    }
  }
}

@media(min-width:1900px){
  .choose{
    padding: 0px !important;
    padding-top: 110px !important;
    h2{
      margin-bottom: 21px !important;
      padding: 0px !important;
    }
    .choose-text{
      line-height: 28px;
    }
  }

  .choose-cards{
    h4{
      margin-top: 292px !important;
      margin-bottom: 23px !important;
      line-height: 27px;
    }
    p{
      margin-bottom: 25px !important;
      line-height: 27px;
    }
  }
}

@media (max-width: 1200px) {
  .choose {
    margin: auto;

    .choose-cards {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .choose-card {
        width: 100%;
        margin: auto;
        box-shadow: 0px 34px 50px -17px #0216051A;
        background-size: contain !important;
        background-position: 50% 30% !important;
        padding: 0px 10px;
        padding-bottom: 10px;

        p {
          padding: 3%;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .choose {

    h2 {
      font-size: 32px;
      text-align: left;

      b {
        font-size: 32px;
      }
    }

    p {
      width: 100%;
      text-align: left;
    }

    .choose-cards {
      gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;

      .choose-card {
        margin: auto;
        height: auto;
        width: 100%;
        background-size: contain !important;

        h4 {
          margin-top: 200px;
        }

        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}