section.contact {
  max-width: 1564px;
  width: 95%;
  display: flex;
  gap: 15px;
  margin: auto;
  margin-bottom: 9px;
  div.one {
    //  align-items: center;
    width: 754px;
    padding-top: 162px;
    h3 {
      @include heading;
      b {
        font-size: 55px;
        font-weight: 500;
        color: #6f77f1;
      }
    }
    p {
      color: #828282;
      font-size: 17px;
      font-weight: 400;
      width: 693px;
      margin-top: 16px;
      margin-bottom: 44px;
    }
    div.group {
      width: 577px;
      display: flex;
      input {
        width: 288px;
        padding: 13px 23px;
        border: 1px solid #dfdfdf;
        background-color: #f2f2f2;
      }
      input::placeholder {
        color: #b6b6b6;
        font-size: 17px;
      }
      button {
        margin-left: 36px;
        background-color: #fad725;
        border: none;
        font-size: 16px;
        font-weight: 500;
        width: 115px;
        padding: 14px 28px;
      }
    }
  }
  div.two {
    width: 795px;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1700px) {
  section.contact {
    div.one {
      padding-top: 0;
      margin: auto auto;
    }
    div.two {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1200px) {
  section.contact {
    div.one {
      margin-bottom: 100px;
      width: 100%;
      h3 {
        font-size: 45px;
        b {
          font-size: 45px;
        }
      }
      p {
        width: 100%;
      }
    }
    div.two {
      display: none;
    }
  }
}

@media (max-width: 678px) {
  section.contact {
    div.one {
      h3 {
        font-size: 35px;
        b {
          font-size: 35px;
        }
      }
      p {
        font-size: 16px;
      }
      div.group {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        input {
          width: 100%;
        }
        button {
          margin: 0;
        }
      }
    }
  }
}