div.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 63px;
  max-width: 1665px;
  margin: auto;
  margin-bottom: 170px;
}
div.card {
  padding: 32px 18px 17px 25px;
  border: none;
  box-shadow: 1px 4px 4px #0000002b;
  height: 334px;
  width: 513px;
  p {
    color: #828282;
    font-size: 17px;
    font-weight: 400;
  }
  a {
    display: block;
    text-align: end;
    color: #212528;
    margin-top: 30px;
    align-self: flex-end;
  }
}
div.grp {
  display: flex;
  gap: 26px;
  align-items: center;
  margin-bottom: 20px;
  h5 {
    font-size: 28px;
    width: 250px;
  }
  img {
    width: 120px;
  }
}

@media (max-width: 1650px) {
  div.cards {
    gap: 10px;
  }
  div.card {
    width: 95%;
    margin: auto;
    height: auto;
  }
  div.grp {
    flex-direction: column;
    align-items: start;
    h5 {
      width: 100%;
    }
  }
}

@media (max-width: 1384px) {
  div.cards {
    grid-template-columns: repeat(1, 1fr);
  }
  div.card {
    height: auto;
  }
}

@media (max-width: 450px) {
  div.cards {
    margin-bottom: 40px;
  }
  div.card {
    height: auto;
  }
  div.grp {
    flex-direction: column;
    align-items: start;
  }
}