.grp {
  img {
    width: 130px;
  }
}

.card-text {
  color: #828282 !important;
}


@media (min-width :992px) {
  .cards {
    margin-top: 80px !important;
  }

  .card {
    border: none !important;
    box-shadow: 0px 17px 33px -14px #02160512;
  }

}


@media (min-width :1200px) {
  .grp {
    h2 {
      font-size: 30px !important;
      font-weight: 400;
    }
  }

  .card {
    width: 513px;
    height: 334px;
  }

}

@media (min-width :1400px) {
  .cards {
    gap: 63px !important;
  }

  .grp {
    gap: 26px !important;

    h2 {
      font-size: 38px !important;
      font-weight: 400;
      width: 259px;
    }
  }

  .card-text {
    font-size: 17px;
  }

}



@media (min-width :1900px) {
  .cards {
    margin-top: 140px !important;
    padding: 0 !important;
  }
.card{
  padding-left: 25px !important;
  padding-right: 18px !important;
  padding-bottom: 17px !important;
  h2{
    line-height:55px;
    margin: 0 !important;
  }
  .card-text{
    margin-top: 20px;
  }
}
}