.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 63px;
  max-width: 1665px;
  margin: auto;
  margin-bottom: 170px;
}

.card {
  padding: 32px 18px 17px 25px;
  border: none;
  box-shadow: 0px 17px 33px -14px #02160512;
  height: 334px; 
  width: 513px;  
  display: flex;
  flex-direction: column;

  p {
    @include p;
    flex-grow: 1;
  }

  a {
    display: block;
    text-align: end;
    color: #212528;
    margin-top: 30px;
    align-self: flex-end;
  }
}

.grp {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 20px;
  
  h2 {
    font-size: 38px;
    width: 259px;
    font-weight: 400;
    color: #212528;
  }

  img {
    width: 120px;
  }
}


@media (max-width: 1665px) {
  .cards {
    gap: 30px;
    padding: 15px 30px;
  }
  .card {
    width: 100%;
    height: auto;
  }
    .grp{
    flex-direction: column;
    align-items:start;
  }
}

@media (max-width: 1200px) {
  .grp h2 {
    font-size: 32px;
  }

}


@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    padding: 15px 0px;
  }
  .card {
    height: auto;
  }
  .grp h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr); 
    
  }
  .grp {
    flex-direction: column; 
    align-items: flex-start;
    gap: 15px;
    h2 {
      width: 100%;
      font-size: 26px;
    }
    img {
      width: 80px;
    }
  }
}


@media (max-width: 480px) {
  .cards {
    margin-bottom: 60px;
    max-width: 100%;
    padding: 0 15px;
  }
  .card {
    padding: 25px 20px;
  }
  .grp h2 {
    font-size: 24px;
  }
}