footer {
  display: flex;

  flex-direction: column;
  max-width: 1658px;
  margin: auto;
  margin-top: 20px !important;

  div.top {
    h2 {
      font-size: 45px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 26px;
    }

    ul {
      width: 679px;
      margin: auto;
      display: flex;
      padding: 0px;
      justify-content: space-between;
      margin-bottom: 52.5px;

      a {
        font-size: 20px;
        color: #212528;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }

  div.bottom {
    border-top: 1px solid #eae5e5;
    padding: 0 53px;
    display: flex;
    justify-content: space-between;
    padding-top: 22.5px;
    margin: 0px;

    p {
      font-size: 13px;
      font-weight: 400;
      color: #828282;
    }

    ul {
      width: 320px;
      display: flex;
      margin-bottom: 29px;
      justify-content: space-between;

      a {
        color: #828282;
        font-size: 13px;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding-left: 12px;
    padding-right: 12px;

    div.top {
      h2 {
        text-align: start;
        margin: 0px;
      }

      ul {
        flex-direction: column;
        padding: 10px 0px;
        margin-bottom: 0;
        width: 100%;
      }
    }

    div.bottom {
      flex-direction: column;
      padding: 10px 0px;
      height: auto;
      gap: 10px;

      ul {
        width: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}