.container {
  max-width: 1665px;
  margin-bottom: 50px;
}

.col {
  h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #212528;
    font-size: 32px;
  }
}

.image {
  width: 100px;
}

div.bottom {
  width: 100%;
  display: flex;
  gap: 69px;
  height: 50px;

  button {
    width: 218px;
    border-radius: 4px;
    transition: all 500ms;
  }

  button:hover {
    background-color: rgb(255, 153, 0) !important;
    transition: all 500ms;
  }
}


@media (min-width: 576px) {
  .col {
    gap: 20px;
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }

  .image {
    width: 120px;
  }
}

@media (min-width: 768px) {
  .col {
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px
    }
  }

  .image {
    width: 150px;
  }

}

@media (min-width: 992px) {
  .col {
    h1 {
      font-size: 60px;
    }
  }

  .image {
    width: 160px;
  }
}


@media (min-width: 1200px) {
  .col {
    h1 {
      font-size: 70px;
    }

    .bottom {
      height: auto;
      button {
        font-size: 24px !important;
        font-weight: 500;
        padding: 20px 40px;
      }
    }
  }

  .image {
    width: 170px;
  }
}


@media (min-width: 1400px) {
  .col {
      gap: 40px;
    h1 {
      font-size: 80px;
    }
  }

  .image {
    width: 180px;
  }
}

@media (min-width: 1900px) {
  .hero{
    margin-top: 97px !important;
    padding: 0 !important;
  }
  .row{
    gap:0px;
  }
  .col:first-child {
      gap: 25px;
      padding-left: 10px;
      padding-top: 25px;
    h1 {
      font-size: 90px;
      width: 883px;
      line-height: 100px;
      letter-spacing: 2px;
      word-spacing: 4px;
      position: relative;
    }
    p{
      width: 827px;
      margin-top: 10px;
      margin-bottom: 45px;
      line-height: 30px;
    }

  }
  .col:last-child{
    height: 706px;
    padding-right: 35px;
    margin-left: -44px;
  }

  .image {
    position: absolute;
    width: 200px;
    right: 0px;
    bottom: -10px;
  }
}