@mixin image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin heading {
  font-size: 55px;
  font-weight: 500;
  color: #212528;
}

@mixin p{
  font-size: 17px !important;
  font-weight: 400 !important;
  color: #828282 !important;
}

