.container-fluid {
  max-width: 1665px;
  a.navbar-brand {
    width: 163px !important;
  }
  .navbar-nav {
    margin-right: 155px;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-weight: 400px;

    .nav-item {
      .nav-link {
        display: inline-block;
        position: relative;
        padding-bottom: 2px;
      }
      .nav-link::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #6f77f1;
        transition: transform 0.25s ease-out;
        transform-origin: bottom right;
      }
      .nav-link:hover::after,
      .nav-link.active::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 80px;
    button:first-child {
      width: 204px;
      border: 2px solid #212528;
      border-radius: 4px;
      padding: 20px 47px;
      color: #212528;
      font-size: 24px;
      text-align: center;
      background-color: transparent;
    }
    button:first-child:hover{
      background-color: #eee;
    }
    button:last-child {
      width: 83px;
      aspect-ratio: 83/77;
      background-color: #fad725;
      color: #212528;
      border: none;
      border-radius: 4px;
      i {
        width: 20px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container-fluid {
    .navbar-nav {
      margin: auto;
      width: 100%;
    }
    div {
      input {
        width: 204px;
        border: 2px solid #212528;
        border-radius: 4px;
        padding: 20px auto;
      }
      input::placeholder {
        color: #212528;
        font-size: 24px;
        text-align: center;
      }
      button {
        width: 30%;
        aspect-ratio: 83/77;
        background-color: #fad725;
        color: #212528;
        border: none;
        border-radius: 4px;
        i {
          width: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .container-fluid {
    .navbar-nav {
      margin-right: auto;
      margin-left: auto;
    }
    div {
      button {
        width: 75px;
        aspect-ratio: 83/77;
        background-color: #fad725;
        color: #212528;
        border: none;
        border-radius: 4px;
        i {
          width: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
