.nav-btn-one {
  border-radius: 4px;
  width: 220px;
}

.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #6f77f1;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-btn-two {
  border-radius: 4px;
}

.navbar {
  background-color: #FFFFFF !important;
  max-width: 1665px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  word-spacing: 0;
  img{
    margin-left: -5px;
  }
}

.navbar {
  margin-top: 5px !important;
}

@media (min-width : 768px) {
  .navbar {
    margin-top: 10px !important;
  }

  .navbar-brand {
    font-size: 30px;
  }

  .nav-btn-one {
    width: auto;
  }
}

@media (min-width : 992px) {
  .navbar {
    margin-top: 20px !important;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 400;
  }

  .navbar-nav {
    gap: 20px !important;
  }
}

@media (min-width : 1200px) {
  .navbar {
    margin-top: 25px !important;
  }

  .navbar-brand {
    font-size: 35px;
  }

  .nav-link {
    font-size: 20px;
  }

    .nav-btn-one {
    width: 204px;
  }

  .nav-btn-two {
    width: 60px;
  }

  .navbar-nav {
    gap: 30px !important;
  }
}

@media (min-width : 1400px) {
  .navbar {
    margin-top: 45px !important;
  }

  .navbar-brand {
    font-size: 40px;
  }

  .nav-link {
    font-size: 22px;
  }

  .navbar-nav {
    gap: 55px !important;
  }
}

@media (min-width : 1600px) {
  .navbar {
    margin-top: 57px !important;
  }

  .navbar-brand {
    font-size: 40px;
  }

  .nav-link {
    font-size: 24px;
  }

  .nav-btn-two {
    height: 77px;
    width: 83px;
  }

  .navbar-nav {
    gap: 52px !important;
  }
}

@media (min-width : 1900px) {
  .container-fluid{
    padding: 0;
  }

  .navbar-nav {
    margin-left: 340px !important;
  }
}