.need-txt {
  color: #828282 !important;
}

.right {
  height: auto;

  h2 {
    font-size: 32px;
    font-weight: 500;

    b {
      font-size: 32px;
      font-weight: 500;
      color: #6F77F1 !important;
    }
  }
}

.cards-need {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 51px;
  padding: 0%;

  .card-need {
    display: flex;

    box-shadow: none;
    height: auto;
    flex-direction: column;
    box-shadow: 5px 25px 37px 0px #0216050F;

    padding: 15px;
    gap: 28px;
    text-align: left;

    img {
      width: 101px;
      height: 101px;
      aspect-ratio: 1;
    }

    div.grp {
      display: flex;
      // width: 419px;
      width: 100%;
      justify-content: center;
      height: auto;
      margin: 0;
      gap: 10px !important;
      flex-direction: column;

      h3 {
        width: 100%;
        font-size: 20px;
        color: #212528;
        margin: 0px;
      }

      p {
        margin: 0px;
        color: #828282 !important;
      }
    }
  }

}

@media (min-width:768px) {
  .right {
    h2 {
      font-size: 45px;

      b {
        font-size: 45px;
      }
    }

    .grp {
      h3 {
        font-size: 23px !important;
      }
    }
  }
}


@media (min-width:992px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}

@media (min-width:1200px) {
  .card-need {
    box-shadow: none !important;
    width: 638px;
    padding: 16px 45px !important;
  }

  .card-need:hover {
    box-shadow: 5px 25px 37px 0px #0216050F !important;
  }

}

@media (min-width:1400px) {
  .need {
    gap: 121px;
  }

  .left {
    width: 771px;
  }

  .right {
    width: 754px !important;

    h2 {
      font-size: 55px;
      b {
        font-size: 55px;
      }
    }
  }
}


@media (min-width:1900px) {
 .need{
  padding: 0px !important;
  margin-top: 208px !important;
 }

 .right{
  h2{
    line-height: 65px;
    padding-left: 2px;
  }
  p.need-txt{
    margin-top: 33px !important;
    width: 693px !important;
    padding-left: 2px;
    line-height: 27px;
  }
 }
 .cards-need{
  margin-top: 81px !important;
 }

 .head-p{
  padding-left: 2px;
  line-height: 27px;
 }
}
