section.optimize {
  max-width: 1665px;
  margin: auto;
  margin-bottom: 194px;

  h2 {
    @include heading;
    margin-bottom: 37px;

    b {
      color: #6f77f1;
      @include heading;
    }
  }

  p {
    font-size: 20px;
    color: #727272;
    width: 827px;
    margin-bottom: 65px;
    font-weight: 400;
  }

  div.item-row {
    gap: 22px;
    display: flex;

    div.item {
      height: 472px;
      padding: 56px 44px 0px 34px;

      img {
        margin-bottom: 109px;
        width: 77px;
        aspect-ratio: 1;
      }

      h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 21px;
        color: #212528;
      }

      p {
        @include p;
        width: 100%;
      }
    }

    div.item:first-child {
      background: url(./assests/images/background/one.png);
      @include image;
    }

    div.item:nth-child(2) {
      background: url(./assests/images/background/two.png);
      @include image;
    }

    div.item:nth-child(3) {
      background: url(./assests/images/background/three.png);
      @include image;
    }

    div.item:nth-child(4) {
      background: url(./assests/images/background/four.png);
      @include image;
    }

    div.item:hover {
      border-bottom: 4px solid #717ae0;
    }
  }
}

@media (max-width: 1750px) {
  section.optimize {
    max-width: 90%;
    margin-bottom: 180px;

    p {
      width: 90%;
    }
  }
}

@media (max-width: 1440px) {
  section.optimize {
    margin-bottom: 150px;

    h2 {
      font-size: 48px;

      b {
        font-size: 48px;
      }
    }

    div.item-row {
      div.item {
        height: 420px;
        padding: 45px 35px 0 25px;

        img {
          margin-bottom: 70px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  section.optimize {
    margin-bottom: 120px;

    h2 {
      font-size: 42px;
      margin-bottom: 30px;

      b {
        font-size: 42px;
      }
    }

    p {
      margin-bottom: 0px;
    }

    div.item-row {
      flex-wrap: wrap;
      justify-content: center;

      div.item {
        width: calc(50% - 22px);
        height: auto;
        min-height: 380px;
        box-shadow: 1px 4px 4px #0000002b;

        img {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  section.optimize {
    margin-bottom: 100px;

    h2 {
      font-size: 36px;

      b {
        font-size: 36px;
      }
    }

    p {
      width: 100%;
    }

    div.item-row {
      div.item {
        min-height: 340px;
        padding: 35px 25px 25px 20px;

        img {
          margin-bottom: 40px;
          width: 60px;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.optimize {
    margin-bottom: 80px;

    h2 {
      font-size: 32px;
      margin-bottom: 25px;

      b {
        font-size: 32px;
      }
    }

    div.item-row {
      gap: 15px;

      div.item {
        width: 100%;
        min-height: 300px;
        padding: 30px 20px 20px 20px;
        border-bottom: 4px solid #717ae0;

        img {
          margin-bottom: 30px;
        }
      }
    }
  }
}