.card-item {
  box-shadow: 0px 34px 50px -17px #0216051A;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  img {
    width: 71px;
    aspect-ratio: 1;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }

  p {
    font-size: 17px
  }

  a {
    text-decoration: none;
    color: #6f77f1 !important;
    font-weight: 500;
    font-size: 14px;
  }
  a:hover {
    color: #3742db !important;
  }
}

@media (min-width:1200px) {
  .card-item {
    width: 370px;
    padding: 34px 48px 26px 30px;
    box-shadow: none;
    transition: all 500ms;
  }
  .card-item:hover{
    box-shadow: 0px 34px 50px -17px #0216051A;
    transition: all 500ms;
  }
}

@media (min-width:1400px) {
  .three-card {
    margin-top: 85px !important;
    justify-content: center !important;
    padding: 0px 116px;
    gap: 75px !important;
  }

  .card-item {
    width: 370px;
    padding: 34px 48px 26px 30px;
    img{
      margin-bottom: 15px;
    }
    h3{
      word-spacing: 2px;
      padding-left: 1px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 2px;
      padding-left: 2px;
      line-height: 27px;
    }
    a{
      padding-left: 2px;
    }
  }
}
