.solution {
  background: url('../assests/images/background/curve.png');
  margin-bottom: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sol-btn {
  padding: 10px 20px;
  transition: all 500ms;
}

.sol-btn:hover {
  background-color: rgb(255, 153, 0) !important;
  transition: all 500ms;
}

.sol-p {
  color: #828282 !important;
  font-size: 17px !important;
}

.left {
  h2 {
    font-size: 32px;

    b {
      color: #6F77F1 !important;
      font-size: 32px;
    }
  }
}

@media(min-width:768px) {

  .sol-btn {
    padding: 15px 30px;
    font-size: 24px;
  }

  .left {
    padding: 20px;

    h2 {
      font-size: 42px;

      b {
        font-size: 42px;
      }
    }
  }
}


@media(min-width:1200px) {
  .solution {
    padding: 50px 80px !important;
    gap: 48px !important;
    justify-content: space-evenly;
  }
}



@media(min-width:1400px) {

  .sol-btn {
    padding: 20px 40px;
  }
  .right {
    width: 607px !important;
    height: 343px;
  }

  .left {
    width: 601px;
    padding: 20px;

    h2 {
      font-size: 50px;

      b {
        font-size: 50px;
      }
    }
  }
}

@media(min-width:1900px) {
  .solution {
    padding: 112px 205px !important;
  }

  .left {
    padding: 0px;

    h2 {
      font-size: 55px;
      margin-bottom: 20px;

      b {
        font-size: 55px;
      }
    }
  }

  .sol-p {
    line-height: 27px;
    margin-bottom: 32px;
  }
}