div.msg{
  color: red;
  text-align: center;
  padding: 3%;
  padding-top: 0px;
  display: none;
}

div.name{
  position: absolute;
  bottom: 5%;
  left: 8%;
}

div.email{
  position: absolute;
  bottom: 5%;
  right: 37%;
}


section.subscribe {
  background-color: #fafafa;
  max-width: 1367px;
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 57px;
  border: none;
  border-radius: 16px;
  margin-bottom: 170px;
  h3 {
    color: #212528;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    color: #909090;
    margin: auto;
    text-align: center;
    margin-bottom: 41px;
  }
  form {
    width: 1061px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding-bottom: 95px;
    input {
      width: 416px;
      padding: 24px 0px 22px 37px;
      border-radius: 6px;
      border: 1px solid #c3c6d0;
    }
    input::placeholder {
      color: #727272;
      font-size: 19px;
    }
    button {
      width: 169px;
      border: none;
      background-color: #6f77f1;
      color: white;
      font-size: 20px;
      font-weight: 500;
      border-radius: 6px;
      padding: 22px 24px;
    }
    button:hover{
      background-color: #5a63ed;
    }
  }
}



@media (max-width: 1200px) {
  section.subscribe {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    h3 {
      font-size: 40px;
      text-align: left;
    }
        p{
      font-size: 17px;
      text-align: left;
    }
    form {
      flex-direction: column;
      width: 100%;
      input {
        width: 100%;
        padding: 3%;
      }
      button{
        padding: 3%;
      }
    }
  }
}




@media (max-width: 678px) {
  section.subscribe {
    h3 {
      font-size: 32px;
    }
    form {
      flex-direction: column;
      input {
        width: 100%;
        padding: 3%;
      }
      button{
        padding: 1%;
        width: 50%;
      }
    }
  }
}



.demo-toast {
  width: 300px;
  background-color: greenyellow;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 1rem;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.demo-toast-animate-in {
    animation: demo-toast-animate 1s 1 forwards;
}

.demo-toast-animate-out {
   animation: demo-toast-animate 1s 1 forwards;
    animation-direction: reverse;
}

@keyframes demo-toast-animate {
  from{
    bottom: -20%;
  }
  to {
    bottom: 20px;
  }
}

