// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";
@import "mixing";
*{
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container-fluid {
  max-width: 1665px;
  .navbar-nav {
    margin-right: 155px;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-weight: 400px;
  }
  form {
    input {
      width: 204px;
      border: 2px solid #212528;
      border-radius: 4px;
    }
    input::placeholder {
      color: #212528;
      font-size: 24px;
      text-align: center;
    }
    button {
      width: 83px;
      aspect-ratio: 83/77;
      background-color: #fad725;
      color: #212528;
      border: none;
      border-radius: 4px;
      i {
        width: 20px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container-fluid {
    .navbar-nav {
      margin-right: auto;
      margin-left: auto;
    }
    form {
      input {
        width: 204px;
        border: 2px solid #212528;
        border-radius: 4px;
      }
      input::placeholder {
        color: #212528;
        font-size: 24px;
        text-align: center;
      }
      button {
        width: 30%;
        aspect-ratio: 83/77;
        background-color: #fad725;
        color: #212528;
        border: none;
        border-radius: 4px;
        i {
          width: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container-fluid {
    .navbar-nav {
      margin-right: auto;
      margin-left: auto;
    }
    form {
      button {
        width: 75px;
        aspect-ratio: 83/77;
        background-color: #fad725;
        color: #212528;
        border: none;
        border-radius: 4px;
        i {
          width: 20px;
          font-weight: 400;
        }
      }
    }
  }
}

.container {
  max-width: 1665px;
  margin-bottom: 120px;
  padding: 0 2%;
  .col {
    padding: 0;
    h1 {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      color: #212528;
      font-style: normal;
      font-size: 90px;
      margin-bottom: 40px;
      position: relative;
      margin-top: 212px;
    }
    .image {
      position: absolute;
      top: 110px;
      left: 80%;
      z-index: 100;
    }
    p {
      color: #727272;
      font-size: 20px;
      font-weight: 400;
      margin: 0;
    }
    div.bottom {
      width: 100%;
      display: flex;
      margin-top: 40px;
      button {
        background-color: #fad725;
        color: #212528;
        border: none;
        font-size: 24px;
        width: 218px;
        margin-right: 69px;
      }
    }
  }
  .col:last-child {
    img {
      margin-top: 114px;
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 1557px) {
  .container {
    .col {
      h1 {
        margin-top: 150px;
        font-size: 60px;
      }
      .image {
        top: 60px;
        left: 250px;
      }
    }
    .col:last-child {
      img {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 1403px) {
  .container {
    .col {
      .image {
        left: 65%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .container {
    .col {
      padding: 15px;
      h1 {
        margin-top: 80px;
      }
      .image {
        position: static;
        width: 150px;
      }
    }
    .col:last-child {
      display: none;
    }
  }
}

@media (max-width: 475px) {
  .container {
    div.col{
        div.bottom{
            img{
                display: none;
            }
            button{
                padding: 2%;
            }
        }
    }
  }
}

div.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    gap: 63px;
      max-width: 1665px;
      margin: auto;
      margin-bottom: 170px;
    div.card{
        padding: 3%;
        border: none;
        box-shadow: 1px 4px 4px #0000002b;
        height: 334px;
        width: 513px;
        div.grp{
            display: flex;
            gap: 26px;
            align-items: center;
            margin-bottom: 20px;
            h5{
                font-size: 28px;
                width: 250px;
            }
            img{
              width: 120px;
            }
        }
        p{
            color: #828282;
            font-size: 17px;
            font-weight: 400;
        }
        a{
            display: block;
            text-align: end;
            color: #212528;
            margin-top: 30px;
            align-self: flex-end;
        }
    }
}

@media(max-width:1650px){
    div.cards{
        grid-template-columns: repeat(2,1fr);
        div.card{
            width: 100%;
            height: auto;
        }
    }
}

@media(max-width:850px){
    div.cards{
        grid-template-columns: repeat(1,1fr);
        div.card{
            width: 100%;
            height: auto;
        }
    }
}

@media(max-width:450px){
    div.cards{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 40px;
        div.card{
            width: 100%;
            height: auto;
            div.grp{
              flex-direction: column !important;
              align-items: start;
            }
        }
    }
}


section.optimize{
  max-width: 1665px;
  margin: auto;
  margin-bottom: 233px;
  h2{
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 37px;
    b{
      color: #6F77F1;
      font-weight: 500;
    }
  }
  p{
    color: #727272;
    font-size: 20px;
    width: 827px;
    margin-bottom: 65px;
  }
  div.item-row{
    gap: 22px;
    display: flex;
    div.item{
      height: 472px;
      padding: 56px 44px 0px 34px;
      img{
        margin-bottom: 91px;
      }
      h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 21px;
      }
      p{
        width: 100%;
      }
    }
    div.item:first-child{
      background: url(./assests/images/background/one.png);
    }
    div.item:nth-child(2){
      background: url(./assests/images/background/two.png);
    }
    div.item:nth-child(3){
      background: url(./assests/images/background/three.png);
    }
    div.item:nth-child(4){
      background: url(./assests/images/background/four.png);
      @include image;
    }
    div.item:hover{
      border-bottom: 4px solid #717AE0;
    }
  }
}

@media(max-width:1700px){
  section.optimize{
  padding: 0 20px;
  // width: 100%;
  // // h2{
  // //   font-size: 30px;
  // // }
  // // p{
  // //   width: auto;
  // //   font-size: 16px;
  // //   margin-bottom: 20px;
  // // }
  // div.item-row{
    
  //   gap: 22px;
  //   div.item{
  //     box-shadow: 1px 4px 4px #0000002b;
  //     width: 300px;
  //     padding: 1% 0px 0px 2% ;
  //     img{
  //       margin-bottom: 91px;
  //     }
  //   }
  // }
}
}